<div>
	<h1>Welcome to the Message Board!</h1>
	<p>Here you will be able to read, post, and comment on messages submitted by you and others. Click below to start posting!</p> 
</div>
<%= link_to "Go to Message Board", posts_path %>