#posts_main {
	padding-top: 7px;
	height: 100%;
	width: 65%;
	margin-left: 20%;
	background-color: #000066;
	font-family: 'Fjalla One', sans-serif;
}

#posts_header {
	width: 85%;
	height: 10%;
	margin-left: 7%;
	margin-top: 10px;
	margin-bottom: 2px;
	padding-top: 5px;
	background-color: #66CCFF;
	border-width: 1px;
	border-radius: 10px;
}

#posts_header h1{
	text-align: center;
	line-height: 40px;
	text-decoration: underline;
	color: black;
	border-width: 1px;
	border-radius: 10px;
}

#p_title {
	font-size: 15px;
}

#post_div {
	background-color: #66CCFF;
	margin: 8px 0px 0px 11.5%; 
	width: 75%;
	border-radius: 3px;
	border-width: 3px;
	color: black;
	padding-left: 5px;
	padding-top: 1px;
}

#post_div p { 
	padding: 1px;
	text-align: left;
	color: black;
	width: 100%;
	line-height: 20px;
	clear: both;
}

#post_div a {
	color: black;
}

#sub_tag {
	font-size: 11px;
}

#create_btn {
	position: fixed;
	margin-left: 56.3%;
	color: white;
}

#show_post{
	width: 60%;
	padding: 5px 0px 5px 10px;
	background-color: #66CCFF;
	border-radius: 15px;
	border-width: 3px;
}

#show_post p {
	padding: 5px;
	margin: 5px 2% 0px 1.5%;
	border-radius: 15px;
	border-width: 3px;
	background-color: #66CC33;
}

#com_div {
	width: 86%;
	margin: 4px 2% 2px 5%;
	padding: 1px;
	border-radius: 15px;
	background-color: #66CC33;
}

#comment_form {
	font-weight: bold;
	text-decoration: underline;
}

#back_btn {
	float: left;
	clear: left;
}

#warning {
	color: gray;
	line-height: 5px;
}




